* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
	}
body {
    font-family: "Poppins";
    width: 1400px;
    margin: 0;
    padding: 0;
}
/* header*/
header {
    width: 100%;
    height: 78px;
    margin-top: 20px;
}
header * {
    display: inline;
    vertical-align: middle;
}
svg {
    width: 187px;
    height: 32px;
    margin: 22px auto 24px 145px;
}
nav {
    text-align: left;
    font-size: 14px;
   
    margin-left: 320px;
    padding-inline-start: 0;
}
nav a {  
    margin-right: 20px;
    text-align: left;
    font-weight: 400;
    color: #2F281E;
    text-decoration: none;
}
header button {
   margin-left:30px;
    width: 105px;
    height: 45px;
    background-color: white;
    font-weight: 600;
    font-size: 16px;
    color: #173A56;
    border: 1px solid #BCD0E5;
    border-radius: 5px;
}
header button:last-child {
    margin-left: 14px;
}
 .yellow_button {
    background-color: #FF9900;
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: 600;
}
/* First section */
section {
    margin: 30px 130px auto 145px;
    width: 1125px;
    height: 495px;
    white-space: nowrap;

}
.main {
    width: 515px;
    display: inline-block;
    white-space: initial;
    vertical-align: top;
    margin-top: 100px;
}
.main h1 {
    font-family: "Poppins";
    font-weight: bold;
    font-size: 44px;
    margin-block-start: 0;
    margin-block-end: 0;
    color: #2F281E;
}
.main p {
    font-size: 18px;
    color: #544837;
    font-family: "Poppins";
    padding-right: 75px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 30px;
}
.get_started {
    width: 175px;
    height: 53px;
    font-size: 16px;
    margin-top: 45px;
}
.play_button {
    width: 20px;
    height: 17px;
    margin-left: 30px;
    vertical-align: middle;
}
a {
    color: #FF9900;
    font-weight: 600;
    font-size: 16px;
}
section .first_picture {
    width: 605px;
    height: 495px;
    display: inline-block;
    margin-left: 3px;
}
/* second section*/
.second_section {
    width: auto;
    height: 545px;
    white-space: inherit;
    margin-top: 135px;
    text-align: center;
}
h2 {
    font-weight: bold;
    font-size: 36px;
    color: #2F281E;
    width: 540px;
    margin-block-start: 0;
    margin-block-end: 0;
}
.second_section > div {
    display: flex;
    width: 100%;
    justify-content: center;
}
div.little_block {
    width: 240px;
    height: 205px;
    margin: 54px 23px auto 23px;
    text-align: left;
}
.little_block svg {
    width: 50px;
    height: 50px;
    margin: 0;
    text-align: left;
}
.second_section .yellow_button {
    width: 175px;
    height: 55px;
    margin-top: 35px;

}
/* Third section*/
.third_section {
    margin: 100px 130px auto 145px;
    display: flex;
    height: 574px;

}
.third_section div {
    white-space:initial;
    width: 485px;
    text-align: left;
}
.third_p {
font-weight: 500;
font-size: 16px;
}
h4 {
    font-weight: bold;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 22px;
}
.third_section svg {
    width: 520px;
    height: 100%;
    margin: 0 auto auto 105px;
}
/*forth section*/
.forth_section {
    height: 520px;
    width: 1120px;
    margin-top: 100px;
}
.forth_section>svg {
    width: 535px;
    height: 521px;
    margin: 0;
}
.forth_section div {
    display: inline-block;
    vertical-align: top;
    white-space: initial;
    width: 485px;
    height: 430px;
    text-align: left;
    margin-top: 19px;
}
.forth_section h2 {
    margin: 3px auto -8px auto;
}
.forth_section ul {  
    list-style-type: none;
    display: inline-block;
    white-space: initial;
    padding-inline-start: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
}
ul svg {
    margin: 0 30px auto auto;
    width: 35px;      
}
li {
    width: 486px;
    height: 50px;
  margin-top: 30px;
  white-space: nowrap;
  vertical-align: middle;
}
.forth_p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 30px;
} 
li p {
    white-space: initial;
    display: inline-block;
    width: 369px;
    margin-block-start: 0;
    margin-block-end: 0;
}
/*Fifth section*/
.fifth_section {
    margin-top: 100px;
    display: flex;
    white-space: nowrap;
    height: 609px;
}
.fifth_section div {
    white-space: initial;
    width: 485px;
    margin-top: 40px;
    
}
.fifth_section p:first-child {
    margin-block-start: 0;
    margin-block-end: 0;
}
.fifth_section svg {
    margin: 0 0 0 80px;
    width: 542px;
    height: 609px;;
}
/*footer*/
footer {
    border-top: 1px solid rgba(188, 208, 229, 1);
    margin-top: 145px;
    width: 1100px;
    margin-left: 160px;
}
footer .last_logo {
    display: block;
    margin-top: 100px;
    margin-left: 0;
}
footer .footer {
    margin-left: 0;
    margin-bottom: 83px;
    height: auto;
    font-size: 16px;
}
footer div {
    display: inline-block;
    line-height: 35px;
    color: #544837;
    vertical-align: top;
}
footer .footer_div_1{
    margin-top: 30px;
    margin-left: 325px;
    width: 115px;
}
footer .footer_div_2 {
    margin-left: 129px;
    margin-top: 30px;
    width: 130px;
}
footer .footer_div_3 {
    margin-left: 80px;
    height: 200px;
    margin-top: 30px;
}
footer form {
    border: 1px solid;
    border-color: #BCD0E5;
    margin-top: 25px;
 
    width: 325px;
    height: 48px;
}
footer button {
    width: 130px;
    height: 40px;
    margin-top: 20px;
}
