body {
    font-family: "Poppins";
    width: 1400px;
    margin: 0;
    padding: 0;
}
/* header*/
header {
    width: 100%;
    height: 78px;
    margin-top: 20px;
}
header * {
    display: inline;
    vertical-align: middle;
}
svg {
    width: 187px;
    height: 32px;
    margin: 22px auto 24px 145px;
}
nav ul {
    text-align: left;
    font-size: 14px;
    color: #2F281E;
    margin-left: 320px;
    padding-inline-start: 0;
}
nav li {
    margin-right: 20px;
    text-align: left;
    font-weight: 400;
}
header button {
   margin-left:30px;
    width: 105px;
    height: 45px;
    background-color: white;
    font-weight: 600;
    font-size: 16px;
    color: #173A56;
    border: 1px solid #BCD0E5;
    border-radius: 5px;
}
header button:last-child {
    margin-left: 14px;
}
 .yellow_button {
    background-color: #FF9900;
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: 600;
}
/* First section */
section {
    margin: 30px 130px auto 145px;
    width: 1125px;
    height: 495px;
    white-space: nowrap;

}
.main {
    width: 515px;
    display: inline-block;
    white-space: initial;
    vertical-align: top;
    margin-top: 80px;
}
.main h1 {
    font-family: "Poppins";
    font-weight: bold;
    font-size: 44px;
    margin-block-start: 0;
    margin-block-end: 0;
    color: #2F281E;
}
.main p {
    font-size: 18px;
    color: #544837;
    font-family: "Poppins";
    padding-right: 75px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 30px;
}
.get_started {
    width: 175px;
    height: 53px;
    font-size: 16px;
}
.play_button {
    width: 20px;
    height: 17px;
    margin-left: 30px;
    vertical-align: middle;
}
a {
    color: #FF9900;
    font-weight: 600;
    font-size: 16px;
}
section .first_picture {
    width: 605px;
    height: 495px;
    display: inline-block;
    margin-left: 3px;
}
/* second section*/
.second_section {
width: auto;
height: 545px;
white-space: inherit;
margin-top: 135px;
text-align: center;
}
h2 {
    font-weight: bold;
    font-size: 36px;
    color: #2F281E;
    width: 540px;
    margin-block-start: 0;
    margin-block-end: 0;
}
.second_section > div {
    display: flex;
    width: 100%;
    justify-content: center;
}
div.little_block {
    width: 240px;
    height: 205px;
    margin: 54px 23px auto 23px;
    text-align: left;
}
.little_block svg {
    width: 50px;
    height: 50px;
    margin: 0;
    text-align: left;
}
.second_section .yellow_button {
    width: 175px;
    height: 55px;
    margin-top: 35px;

}
/* Third section*/
.third_class {
    margin: 100px 130px auto 145px;
    display: flex;
    height: 574px;

}
.third_class div {
    white-space:initial;
    width: 485px;
    text-align: left;
}
.third_p {
font-weight: 500;
font-size: 16px;
}
h4 {
    font-weight: bold;
    font-size: 16px;
    margin-top: 30px;
}
.third_class svg {
    width: 520px;
    height: 100%;
    margin: 0 auto auto 105px;
}