@font-face {
    font-family: Miso;
    src: url(fonts/miso.otf);
}
body {
    width: 100%;
    height: 100vh;
    background-color: #fdde7e;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*style for all section*/
section {
    width: 30%;
    height: 74%;
    text-align: center;
    background-color: white;
    box-sizing: border-box;
    overflow: hidden;
}
section:nth-child(2) {
    height: 84%;
    align-items: center;
}
section:nth-child(2) h1 {
    margin-bottom: 4rem;
}
h1 {
    font-size: 70px;
    font-family: "Miso";
    color: rgb(2, 153, 91);
    font-weight: bold;
    line-height: 0.343;
    text-align: center; 
    margin-bottom: 2rem;     
}
h2 {
    display: block;
    font-size: 56px;
    font-family: "Miso";
    font-weight: normal;
    color: rgb(51, 51, 51);
    line-height: 0.429;
    text-align: center;
    margin: 35px;
}
p {
    margin: 0 25%;
    display: block;
    font-size: 30px;
    font-weight: normal;
    font-family: "Miso";
    color: rgb(51, 51, 51);
    line-height: 1;
    text-align: center;
}
  