@font-face {
  font-family: "Myriad Pro";
  src: url(./fonts/MYRIADPRO-COND.OTF);
  src: url(./fonts/MYRIADPRO-CONDIT.OTF);
  src: url(./fonts/MyriadPro-Light.otf);
  src: url(./fonts/MYRIADPRO-REGULAR.OTF);
}
body {
    width: 100%;
    margin: 0;
    background-color: #b07cf7;
}
/*section1*/
.section1 {
    box-sizing: border-box;
    width: 42%;
    margin: 0 auto;
}
.section1 h1 {
    font-size: 90px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    margin: 100px auto 0;
    width: 250px;
  }
.section1 h1 span:hover {
  display: inline-block;
  position: relative;
  bottom: 15px;
}
.section1 p {
    font-size: 17px;
    font-family: "Myriad Pro";
    color: rgb(255, 255, 255);
    line-height: 1.471;
    text-align: center;
    margin-top: 30px;
  }
/*section with picture*/
.section2 {
  display: flex;
  justify-content: space-evenly;
  margin: 0 5%;
}
.section2 .img {
  position: relative;
}
.section2 .img:first-child {
  background: url(./img.png) no-repeat;
  background-position: center;
  width: 32%;
}
.section2 .img:nth-child(2) {
  background: url(./img2.png) no-repeat;
  background-position: center;
  width: 32%;
}
.section2 .img:last-child {
  background: url(./img3.png) no-repeat;
  background-position: center;
  top: 0;
  left: 0;
  width: 32%;
}
.section2 .img:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px black;
  z-index: 5;
}
.section2 .img div:first-child {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 32px;
  font-family: "Raleway";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 0.8;
  text-align: center;
  font-variant: small-caps;
  width: 60px;
  height: 60px;
  border-radius: 15%;
  background-color: rgba(84, 90, 100, .50);
  }
  .section2 .img div:first-child:hover {
    background-color: rgb(84, 90, 100);
    transform: scale(1.3) rotate(0.1turn);
  }
.section2 .img div:first-child time {
  margin: 0;
}
.section2 .img div:last-child {
  background: linear-gradient(to top, rgba(0, 0, 0, 80), rgba(255, 255, 255, .0));
  padding-bottom: 20px;
  padding-left: 20px;
  margin-top: 205px;

}
.section2 .img h2 {
  font-size: 20px;
  font-family: "Raleway";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.25;
  text-align: left;
  width: 90%;
}
.section2 .img div:last-child p {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 10px;
  font-family: "Raleway";
  color: rgb(255, 255, 255);
  letter-spacing: 0.1em;
}
/*button*/
.section3 {
  margin: 50px auto 120px;
  text-align: center;
  align-content: center;
}
button {
  width: 14%;
  height: 55px;
  text-align: center;
  background-color: #f72b3b;
  border: none;
  box-shadow: 0 0 5px black;
  align-items: center;
}
button a {
  text-decoration: none;
    font-size: 20px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    line-height: 1.25;
  }
.section3 button:hover {
  transform: scale(1.2);
  box-shadow: 1px 1px 7px black;
}
.section3 button:hover>a {
  font-size: 30px;
}

  
  