body {
    max-width: 1600px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow-x: hidden;
}
//header
.header::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(243.43deg, rgba(126, 90, 255, 1), rgba(85, 183, 255, 1));
    z-index: -1;
    box-sizing: border-box;
}
.header {
    position: relative; 
    height: 100vh; 
    min-height: 570px; 
    background-image: url(../img/header-img.png);
 //   background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
//navigation
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 5vh 10%;
    width: 100%;
    position: fixed;
    max-width: 1600px;
    box-sizing: border-box;
  //  background: linear-gradient(243.43deg, rgba(126, 90, 255, 0.6), rgba(85, 183, 255, 0.6));
    top: 0;
    z-index: 5;
    &__icon {
        width: 240px;
    }
    &__menu {
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        width: 50%;
        
    }
    
}
.social {
    align-self: center;   
}
.social svg:hover {
    stroke:rgba(172, 144, 238, 0.9);
    fill:rgba(172, 144, 238, 0.5);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.social svg:hover path {
    fill:rgba(172, 144, 238, 0.8);
}
.navBar {
    background: linear-gradient(243.43deg, rgba(126, 90, 255, 0.8), rgba(85, 183, 255, 0.8));
    position: fixed;
}
.navbar__socialIcon {
    display: none;
}
//menu
.navbar__href {
    display: inline-block;
    height: 100%;
    align-content: center;
    margin: auto 10px;   
}
.navbar__a {
    text-decoration: none;
    color: white;

}
.navbar__nav-item::before {
    content: "";
    display: inline-block;
    width: 9px;
    height: 9px;
    border: 1px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 15px;
}
.navbar__nav-item {
    font-family: 'Source Sans Pro';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 3vh;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    align-self: center;
    color: white;
    margin: auto 0 auto 25px;
    text-decoration: none;
}
.navbar__nav-item:hover {
    color: rgba(85, 183, 255, 0.9);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.navBar__cheked::before {
    content: "";
    display: inline-block;
    width: 9px;
    height: 9px;
    border: 1px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 15px;
    background-color: white;
}
.navBar__cheked::before {
    content: "";
    display: inline-block;
    width: 9px;
    height: 9px;
    border: 1px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 15px;
    background-color: white;
}

.header__content {
    text-align: center;
    color: white;
    padding-top: 30vh;
}


.header__content .slick-dots {
    position: absolute;
    left: 95%;
    height: 210px;
    width: 10px;
    top: 33vh;
}
.header__content  .slick-dots li button::before {
    content: "";
    opacity: 0.25;
    display: block;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.header__content  .slick-dots .slick-active button::before {
    background-color: white;
}
.header__content  .slick-dots li {
    display: block;
    margin-top: 5vh;
    right: 0;
   // position: absolute;
   // left: 50px;
}


//text
.text {
    margin-top: 10vh;
    position: relative;
    &__title {
        font-family: "Montserrat";
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: 98px;
        letter-spacing: 0.1em;
    }
    &__text {
        font-family: "Montserrat";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 3vh;
        letter-spacing: 0.3em;

    }
}
// //.scrol {
//     position: absolute;
//     right: 40px;
//     top: 32%;
//     &__circle {
//         display: block;
//         width: 9px;
//         height: 9px;
//         border: 1px solid white;
//         border-radius: 50%;
//         -webkit-border-radius: 50%;
//         -moz-border-radius: 50%;
//         -ms-border-radius: 50%;
//         -o-border-radius: 50%;
//         margin-top: 35px;
// }
// }
// .scrol__circle:hover {
//     background-color: white;
// }
.goDown {
    text-align: center;
    &__icon {
        margin: 25vh auto 0;

    }
}
.goDown__icon:hover {
    fill: rgba(160, 93, 204, 0.562);
}
.hamburger {
    visibility: hidden;
    position: absolute;
}
@media screen and (max-width: 1200px) {
    .navbar {
        padding: 3%;
    }
}
@media screen and (max-width: 1000px) {
    .hamburger {
        visibility: visible;
        position: relative;
    }
    .navbar__menu {
        display: none;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
}
    .navbar__nav-item {
      margin: 0;  
    }
    .navbar__menu-opened {
        display: block;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 90px;
        right: 0;
        z-index: 5;
        background-color: rgba(85, 183, 255, 1);
        transition: 1s;
        animation-duration: 0.5s;
        animation-name: fadeIn;
        animation-fill-mode: both;
    }
    @-webkit-keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
        }
        @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
        }
    .navbar__menu-opened li {
        font-size: 70px;
        text-align: center;
        line-height: 2em;
    }
    //slick dots
    .header__content .slick-dots {
        position: relative;
        display: inline-block;
        left: auto;
        height: 10px;
        width: auto;
        top: auto;
    }
    .header__content  .slick-dots li button::before {
        content: "";
        opacity: 0.25;
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 2px solid white;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    .header__content  .slick-dots .slick-active button::before {
        background-color: white;
    }
    .header__content  .slick-dots li {
        display: inline-block;
        margin: 0 20px;

        right: 0;
       // position: absolute;
       // left: 50px;
    }
}
@media screen and (max-width: 580px) {
    .navbar .social {
        position: absolute;
        width: 70px;
        top: -150px;
        left: 80%;
        transition: 0.7s;
        -webkit-transition: 0.7s;
        -moz-transition: 0.7s;
        -ms-transition: 0.7s;
        -o-transition: 0.7s;
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;
        background: linear-gradient(243.43deg, rgba(126, 90, 255, 1), rgba(85, 183, 255, 1));
        
        .navbar__href {
            display: block;
            margin: 5px;
            text-align: center;
        }
        .navbar__socialIcon {
            display: block;
            margin: 20px auto 30px;
            width: 40px;
            height: 40px;
        }
    }
    .navbar .social:hover {
        transform: translate(0, 150px);
        -webkit-transform: translate(0, 150px);
        -moz-transform: translate(0, 150px);
        -ms-transform: translate(0, 150px);
        -o-transform: translate(0, 150px);
        transition: 0.7s;
        -webkit-transition: 0.7s;
        -moz-transition: 0.7s;
        -ms-transition: 0.7s;
        -o-transition: 0.7s;
}
    .navbar .hamburger {
        margin-right: 20%;
    }
    svg {
        margin: 0;
    }
    .goDown {
        visibility: hidden;
    }
    }
@media screen and (max-width: 347px) {
    .header__content {
        padding-top: 100px;
    }    
    .navbar__menu-opened li {
        font-size: 60px;
    }
    .header .navbar__icon {
        position: absolute;
        opacity: 0;
    }
    .navbar .hamburger {
        margin-right: 80%;
    }
    }
    
