body {
  max-width: 1600px;
  margin: auto;
}

.header::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(243.43deg, rgba(126, 90, 255, 0.9), rgba(85, 183, 255, 0.9));
  z-index: -1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  position: relative;
  background-image: url(../img/header-img.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 10%;
  position: fixed;
  width: 100%;
  max-width: 1600px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 0;
  z-index: 5;
}

.navbar__icon {
  width: 240px;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 50%;
}

.navbar__social {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navBar {
  background: linear-gradient(243.43deg, rgba(126, 90, 255, 0.8), rgba(85, 183, 255, 0.8));
}

.navbar__href {
  display: inline-block;
  height: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: auto 10px;
}

.navbar__a {
  text-decoration: none;
  color: white;
}

.navbar__nav-item::before {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border: 1px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 15px;
}

.navbar__nav-item {
  font-family: 'Source Sans Pro';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  margin: auto 0 auto 25px;
  text-decoration: none;
}

.navbar__nav-item:active::before {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border: 1px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 15px;
  background-color: white;
}

.navbar__nav-item:hover::before {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border: 1px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 15px;
  background-color: white;
}

.header__content {
  text-align: center;
  color: white;
  padding-top: 250px;
}

.header__content .slick-dots {
  position: absolute;
  left: 95%;
  height: 210px;
  width: 10px;
  top: 270px;
}

.header__content .slick-dots li button::before {
  content: "";
  opacity: 0.25;
  display: block;
  width: 10px;
  height: 10px;
  border: 2px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.header__content .slick-dots .slick-active button::before {
  background-color: white;
}

.header__content .slick-dots li {
  display: block;
  margin-top: 40px;
  right: 0;
}

.text {
  margin-top: 100px;
  position: relative;
}

.text__title {
  font-family: "Montserrat";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 98px;
  letter-spacing: 0.1em;
}

.text__text {
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.3em;
}

.scrol {
  position: absolute;
  right: 40px;
  top: 32%;
}

.scrol__circle {
  display: block;
  width: 9px;
  height: 9px;
  border: 1px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-top: 35px;
}

.scrol__circle:hover {
  background-color: white;
}

.goDown {
  text-align: center;
}

.goDown__icon {
  margin: 240px auto 50px;
}

.goDown__icon:hover {
  fill: wheat;
}
/*# sourceMappingURL=header.css.map */