.section2 {
    width: 100%;
    margin-top: 160px;
    background-image: url("../img/section2-bcgrnd.png");
    position: relative;
    padding-bottom: 200px;
    &__titleDiv {
        width: 100%;
        display: block;
        text-align: center;
        padding-top: 130px;
    }
}
.section2::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%);
    z-index: -1;

}
.section2__title {
    font-family: "Montserrat";
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: center; 
    text-transform: uppercase;
    color: white;
}
.section2__title::before {
    content: "";
    display: block;
    width: 100px;
    background-color: white;
    height: 1px;
    margin: auto;
    margin-bottom: 30px;
}

.slicerWrap {
    margin: 90px auto 0;
    padding: 0 13%;
}

.sliceItem {
    background-color: white;
    max-width: 370px;
    margin: 0 15px;
    &__img {
        width: 100%;
    }
    &__title {
        font-family: "Montserrat";
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        margin: 30px 20px 0;

    }
    &__text {
        font-family: "Open Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(44, 64, 88, 1);
        margin: 14px 20px;
    }
    &__user {
        
        margin: 40px 20px 0;
        padding-bottom: 30px;
        display: flex;
    }
}

.sliceItem__userIcon {
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.userInfo {
    display: inline-block;
    margin-left: 20px;
    align-self: center;
    &__userName {
        font-family: "Montserrat";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
    }
    &__userDate {
        font-family: "Montserrat";
        display: block;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(85, 183, 255, 1);
        margin-top: 5px;

    }
}
//slick css
.slick-dots {
    left: 0;
    top: 575px;
}
.slicerWrap  .slick-dots li button::before {
    content: "";
    opacity: 0.25;
    display: block;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.slicerWrap  .slick-dots .slick-active button::before {
    background-color: white;
}
.prev {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 5%;
}
.prev:active {
    opacity: 0.7;
}
.next {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 92%;
}
.next:active {
    opacity: 0.7;
}
@media screen and (max-width: 1500px) {
    .slicerWrap {
        margin: 90px auto 0;
        padding: 0 9%;
    }
}
@media screen and (max-width: 1350px) {
    .slicerWrap {
        margin: 90px auto 0;
        padding: 0 7%;
    }
    
        .prev {
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 1%;
        }
        .next {
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 94%;
        }
    
}
@media screen and (max-width: 768px) {
        .slicerWrap {
    margin: 90px 0 0;
    padding: 0 0;
}

    .prev {
        visibility: hidden;
        display: none;
    }
    .next {
        visibility: hidden;
        left: 0;
    }
 }
 @media screen and (max-width: 385px) {
    .section2 {
        margin-top: 100px;
    }
    .sliceItem {
        max-width: 100vw;
        margin: 0;
        &__text {
            font-size: 16px;
            margin: 14px 10px;
        }
        &__title {
            font-size: 20px;
        }
}
}



