.section3 {
    margin-top: 140px;
    text-align: center;
}

.imgGallery {
    margin: 90px 13%;
    display: grid;
    grid-template-columns: 2.1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    &__imgBig {
        grid-row-start: 1;
        grid-row-end: 3;
    }
    &__img2 {
    }
}
.imgGallery__imgBig:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.imgGallery__img2:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.section3__button {
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    width: 190px;
    height: 50px;
    border: 1px solid rgba(44, 64, 88, 1);
    background-color: white;

}