body {
    background-color: beige;   
}
h1 {
    color: cadetblue;
    text-align: center;
}
ul {
    text-align: left;
    margin-left: 40%;
}
li:hover {
    background-color: aquamarine;
    color: rgb(12, 58, 42);
    margin-left: 10px;
    font-size: 20px;
    font-variant: small-caps;
}
input:checked+label {
    text-decoration: line-through;
}
* {transition: all .1s ease-in;}