body {
  width: 100%;
  margin: 0;
  padding: 0;
}

/*header*/
header {
  height: 985px;
  width: 100%;
  vertical-align: middle;
  background-image: url(./images/imgcopy.png);
  background-position: center;
  background-repeat: space;
  position: relative;
}

header nav img {
  display: inline;
  margin: auto 0 auto 10%;
}

nav {
  width: 100%;
  height: 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 580px;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 5vw;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

header nav ul li {
  display: inline;
  font-size: 16px;
  font-family: "Raleway";
  text-transform: uppercase;
  color: #262626;
  font-weight: bold;
  line-height: 1.563;
  text-align: right;
  margin: auto 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding-top: 3px;
}

header nav ul li:hover {
  border-top: 3px solid #ff6033;
  padding-top: 0;
}

@media screen and (max-width: 426px) {
  header {
    height: auto;
    width: 100%;
    vertical-align: middle;
    background-image: url(./images/imgcopy.png);
    background-position: center;
    position: relative;
  }
  nav {
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
  }
  header nav img {
    margin: 20px auto;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-block;
    height: 100%;
    width: 100%;
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-margin-before: 0;
    margin-block-start: 0;
    -webkit-margin-after: 0;
    margin-block-end: 0;
    margin: 0;
  }
}

@media screen and (max-width: 650px) {
  header {
    height: auto;
    width: 100%;
    vertical-align: middle;
    background-image: url(./images/imgcopy.png);
    background-position: center;
    position: relative;
  }
  nav {
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
  }
  header nav img {
    margin: 20px auto;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-block;
    height: 100%;
    width: 100%;
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-margin-before: 0;
    margin-block-start: 0;
    -webkit-margin-after: 0;
    margin-block-end: 0;
    margin: 0;
  }
}

/*block1*/
header section {
  margin-left: 10%;
  width: 30%;
  min-width: 350px;
  margin-top: 215px;
}

section h2 {
  font-size: 60px;
  font-family: "Raleway";
  font-weight: 800;
  color: #262626;
  line-height: 1;
  text-align: left;
}

section p {
  margin-top: 35px;
  font-size: 17px;
  font-family: "Raleway";
  color: #262626;
  line-height: 1.588;
}

section button {
  width: 200px;
  height: 55px;
  margin-top: 35px;
  background-color: #ff6033;
  border: none;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
}

section button a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Raleway";
  color: white;
  line-height: 1.35;
}

header .scrool_logo {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: auto auto 20px;
}

@media screen and (max-width: 426px) {
  header section {
    margin: 100px auto;
    width: 80%;
    min-width: 0px;
    text-align: center;
  }
  section h2 {
    text-align: center;
  }
  header .scrool_logo {
    position: inherit;
    bottom: 0;
    width: 100%;
    margin: auto auto 20px;
  }
}

@media screen and (max-width: 650px) {
  header section {
    margin: 100px auto;
  }
  header .scrool_logo {
    position: inherit;
    bottom: 0;
    width: 100%;
    margin: auto auto 20px;
  }
}

/*section2*/
main {
  width: 100%;
}

main .section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 700px;
  background-color: #00bbbb;
}

main .section2 img {
  display: inline-block;
  width: 40%;
  height: auto;
  margin: auto 0 75px 7%;
}

.section2 div {
  display: inline-block;
  width: 37%;
  margin: auto 10% auto auto;
}

.section2 div h1 {
  font-size: 90px;
  font-family: "Raleway";
  color: white;
  font-weight: bold;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 30px;
}

.section2 div p {
  font-size: 17px;
  font-family: "Raleway";
  color: white;
  line-height: 1.588;
  text-align: left;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

@media screen and (max-width: 426px) {
  main .section2 {
    display: block;
    width: 100%;
    height: auto;
    background-color: #00bbbb;
    text-align: center;
  }
  main .section2 img {
    display: block;
    margin: auto;
    width: 70%;
  }
  .section2 div {
    width: 85%;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
  }
  .section2 div h1 {
    font-size: 60px;
  }
}

@media screen and (max-width: 650px) {
  main .section2 {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    background-color: #00bbbb;
    text-align: center;
  }
  main .section2 img {
    display: block;
    margin: auto;
    width: 70%;
  }
  .section2 div {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 85%;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
  }
  .section2 div h1 {
    font-size: 60px;
  }
}
/*# sourceMappingURL=style.css.map */