body {
    width: 100%;
    margin: 0;
    padding: 0;
}
/*header*/
header {
    height: 145px;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}
header img {
    margin: auto auto auto 10%;
}
nav {
    width: 50%;
}
header nav ul {
    display: flex;
    height: 100%;
    padding-inline-start: 0;
    box-sizing: border-box;
    margin-right: 10vw;
    justify-content: space-evenly;
    margin-block-start: 0;
    margin-block-end: 0;
    
}
header nav ul li {
    display: inline;
    margin: auto 0;
    box-sizing: content-box;
    padding-top: 3px;
}
header nav ul li:hover {
    border-top: 3px solid #ff6033;
    padding-top: 0;

    
}

/*block1*/
main {
    display: block;
}