*{transition: all .1s ease-in;}
body {
    margin: 40px 10% auto 10%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
section {
    text-align: center;
    margin: 0 4% 0 4%;
}
    .Responsive_Design {
        font-size: 14px;
        font-family: "ProximaNova";
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        line-height: 1.714;
        text-align: center;
      }
      p {
        font-size: 14px;
        font-family: "ProximaNova";
        color: rgb(157, 157, 157);
        line-height: 1.429;
        align-self: center;
        width: 220px;
        height: 52px;
        margin-block-start: 0;
        margin-block-end: 0;
        
      }
.Easy_Customize {
        font-size: 14px;
        font-family: "ProximaNova";
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        line-height: 1.714;
        text-align: center;
      }
.Fast_and_reliable {
        font-size: 14px;
        font-family: "ProximaNova";
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        line-height: 1.714;
        text-align: center;
      }
      .cls-2 {
        fill: white;
        stroke: #1275b9;
      }
      .cls-23 {
        top: 20px;
        left: 20px;
      }

.cls-3 {
        fill: #1275b9;
      }

.cls-4 {
        fill: #ffffff;
      }
.cls-3:hover {
        fill: white;
        stroke: #2a69a6;
      }
.cls-3:hover + .cls-4 {
        fill: #2a69a6;
      }
    


      
      
      
      